<html>
  <head>
    <title>Mon title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>Protected</h1>
      </div>
    </div>
  </body>
</html>